<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Manage Account</h1>
  <form action="/auth/profile" method="POST">
    <label>Address:</label><br>
    <input type="text" name="address" value=""><br>
    <label>Profile Picture URL:</label><br>
    <input type="text" name="profile_picture" value=""><br>
    <button type="submit">Update Profile</button>
  </form>
  <a href="/">Back</a>
</body>
</html>
